@page
@model GraduateProject.Pages.AdminPanel.Group.IndexModel
@{
}

<div>
    <div class="m-3">
        <a class="btn btn-primary" asp-page="Create">
            <i class="bi bi-clipboard2-plus-fill"></i>
            Добавить группу
        </a>
    </div>

    <div class="m-3">
        <a class="btn btn-primary" asp-page="../Index">
            <i class="bi bi-clipboard2-plus-fill"></i>
            Назад
        </a>
    </div>
    
    <div class="d-flex m-3">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col">Дата поступления</th>
                    <th scope="col">Направление</th>
                    <th scope="col">Куратор</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var group in Model.Groups)
                {
                    <tr>
                        <th scope="col">@group.Name</th>
                        <th scope="col">@group.EntryDate.ToShortDateString()</th>
                        <th scope="col">@group.StudyDirection.Name</th>
                        <th scope="col">@group.Supervisor.LastName @group.Supervisor.FirstName</th>
                    </tr>                   
                }
            </tbody>
        </table>
    </div>
</div>